   
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* shared style */
.btn-primary {
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    border-radius: 6px;
    color: #FFFFFF;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
    transition: all 0.5s ease;
}
/* hover in button */
.btn-primary:hover {
    transform:scale(1.1);
    background-color: darkkhaki;
    color: white;
}
/* header */
header {
    background-image: url(../Assets/Hero-bg.png);
}

/* main */
main {
    background-color: #F5F8FF;
}

/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-logo {
    color: #4E47FF;
    font-weight: 800px;
    font-size: 34px;

}

/* banner styles */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1440px;
    height: 500px;
}

/* Action styles */
.action-container {
    display: flex;
    justify-content: space-around;
    padding: 100px;
}

.action-p{
    color: #252432;
    width: 517px;
    height: 40px;
 }

 .action-img {
    border-radius: 30px;
    width: 403px;
    height: 328px;
 }

 /* productive styles */
 .productive {
    margin-bottom: 0;
    padding-bottom: 0;
 }
.productive-detail {
    display: flex;
    gap: 90px;
    margin-top: 0;
    padding-top: 0;
}

.productive-h3 {
    font-size: 38px;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

.productive-detail h1{
    font-size: 80px;
    color: #4E47FF;
    margin: 0;
}
.productive-detail p{
    color: #67666f;
    font-size: 18px;
    text-align: center;
    margin: 0; 
}
.productive-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #dad9fd;
    border-radius: 20px;
    margin-left: 170px;
    margin-right: 170px;
    padding-top: 30px;
    padding-bottom: 50px;
    
}

/* star styles */
.users-section {
    margin: 40px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.user-h1 {
    color: #252432;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 0;
}
.users-card-section{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 0;
}

.cards-part{
      background-color: white;
      padding: 25px 30px;
      border-radius: 15px;
      width: 300px;
}

.cards-part h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 15px 0 10px;
    color: rgb(98, 96, 96);
}

.cards-part p {
    font-size: 15px;
    color: rgb(72, 71, 71);
    margin: 0 0 15px;

}
.reviewer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.reviewer img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.reviewer-text p {
    margin: 0;
    font-size: 15px;
    color: rgb(77, 74, 74);
}
/* Contact styles */
.contact-section {
    padding-top: 0;
}
.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
    padding: 80px;
}
.contact-left {
    width: 50%;
}

.contact-title {
    font-size: 50px;
    width: 528px;
    height: 232px;
    width: 50%;
}

section{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}

.contact-column{
    width: 50%;
}

.contact-column input[type="text"], .contact-column input[type="email"]{
    width: 100%;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 24px;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    box-shadow: 0 0 0 2px #f7f3f3;
}

.contact-column textarea {
    width: 100%;
    resize: none;
    height: 120px;
    border: none;
    border-radius: 10px;
    padding: 20px 20px;
    margin-bottom: 25px;
    font-size: 15px;
    background-color: white;
    box-shadow: 0 0 0 2px #f7f3f3;
}

.btn-form {
     background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    border-radius: 6px;
    color: #FFFFFF;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
    transition: all 0.5s ease;
    width: 485px;
}

.btn-form:hover {
    transform:scale(1.1);
    background-color: darkkhaki;
    color: white;
}

/* footer styles */
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 60px;
}

.footer-head h1 {
    color: #4E47FF;
    font-size: 100px;
    font-weight: 800;
    margin: 0;
}

.footer-head p {
    color: #8987A1;
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

.footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 0px;
    padding-top: 0px; 
}

.footer-link a {
    text-decoration: none;
    color: #8987A1;
    font-size: 15px;
}



